.parent-container{
  box-shadow: 0 0 25px 10px rgba(62, 163, 230, 0.61);
  transition : transform 0.3s;
  border-radius: 5px;
  width: 20rem;
}

.parent-container:hover{
    background-color: white;
    transform: scale(1.06);
}

.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding : 2rem;
    
}

.img-container{
    width : 8rem;
    height : 8rem;
}

.img-container>img{
    width : 8rem;
    height : 8rem;
    object-fit: cover;
    border-radius: 50%;
    
}

.info-container{
    /* word-spacing: 3px; */
    line-height: 1.5;
    text-align: center;
}

.btn-container{
    display: flex;
    justify-content: space-around;
    padding-bottom: 2rem;
}

button{
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
}



.sub{
    color: rgb(32, 216, 170);
}
.worth{
    color: rgb(240, 32, 136);
}

.btn-yt{
     background-color: rgb(223, 2, 2);
}

.btn-fav{
    font-weight: bold;
}

.btn-yt a{
    text-decoration: none;
    color: white;
    
}