.parent{
    color: #303338;
    display : grid;
    grid-template-columns: 3fr 1fr;
}

.techie-container{
    color: #303338;
    display : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    justify-self: center;
}


/* responsive style */

@media only screen and (max-width: 992px){
    .parent{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .techie-container{
        grid-template-columns: 1fr;
    }
}


@media only screen and (min-width: 993px) and (max-width:1312px){
    .parent{
        grid-template-columns: 2fr 1fr;
    }
       .techie-container{
        grid-template-columns: 1fr 1fr;
        padding: 1.5rem;
    }
}

@media only screen and (min-width:1313px) and (max-width: 1440px){
    .techie-container{
        padding: 1.5rem;
    }
}