h3{
    text-align: center;
}

.mini-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.mini-card>img{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
}

.sub-amount{
    text-align: center;
}

.mini-card:hover{
    background-color: white;
}

span{
    color: rgb(240, 32, 136);
}